@import url(http://fonts.googleapis.com/css?family=Open+Sans);

nav a img.logo {
  width: 12rem;
}

.main-nav{
  background-color: #fff;
}

.navbar-nav a {
  margin-top: 1rem;
  font-size: 1.15rem;
  font-family: "Open Sans", sans-serif;
}

#user-account{
  text-decoration: none;
}
#user-account span{
  padding-top: .5rem;
}

#user-account i{
  font-size: 35px;
  /* color: #fff !important; */
  margin: 0 1rem 0 0;
}

.shopping-cart{
  max-width: 110px;
  height: 40px;
}
.shopping-cart p{
  font-weight: bold;
}

.shopping-cart p, .shopping-cart i {
  color: #fff;
}

.shoppingCart-sideBar{
  position: fixed;
  top:88;
  bottom:0;
  right:0;
  width:450px;
  background-color:#fff;
  -webkit-box-shadow: -2px 10px 8px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: -2px 10px 8px 0px rgba(0,0,0,0.48);
  box-shadow: -2px 10px 8px 0px rgba(0,0,0,0.48);
}

.shoppingCart-sideBar h3{
  margin-top: 25px;
  margin-left: 10px;
}

.shopping-cart-item-name{
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.show-shopping-cart{
  /* display: block; */
  transform: translateX(0);
  transition: transform 1s ease;
}

.hide-shopping-cart{
  transform: translateX(30rem);
  transition: transform 1s ease;
}

.delete-item-bin{
  color: #ccc;
  cursor: pointer;
  transform: translate(100px, 200px);
  transition: color 1s ease;
}

.delete-item-bin:hover{
  color: red;
}

.delete-item-bin i{
  transform: translateY(5px)
}

.cart-items-container{
  margin: 20px auto;
  border: 2px inset rgba(154,155,183,0.21);
  border-radius: 9px;
  width:25rem;
  height: 30rem;
  padding: 20px;
  overflow-x: hidden; 
  overflow-y: auto;
}




main {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

#spinner{
  margin: 5rem auto;
  width: 7rem;
}

.itemWrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1130px;
  margin: 0 auto;
  padding-top: 5rem;
}
.itemCard {
  width: 18rem;
}

.itemCard a.btn,
.itemCard a.btn:hover {
  color: #fff;
}

.increment {
  font-size: 2rem;
}

.item-qty{
  font-size: 1.2rem;
}

.afterCheckoutBtn{
  color: #fff;
}

.sort-menu-bar{
  margin-top: 5.2rem;
  background-color: #e3f2fd;
}